{% extends "admin/base.html.twig" %}

{% block title %}
	{{ parent() }}

{% endblock %}

{% block body %}
	<main>
		<h1>Ajouter un nouveau produit</h1>
		{{ form_start(form)}}
		{{ form_rest(form)}}
		<input type="submit" value="Ajouter" class="btn btn-primary">
		{{ form_end(form)}}
	</main>
{% endblock %}
