{% extends "admin/base.html.twig" %}

{% block title %}
	{{ parent() }}Produits
{% endblock %}

{% block body %}
	<main>
		<h1>Ajouter un nouveau produit</h1>
		<div>
			{{ form_start(form) }}
			{{ form_rest(form) }}
			<input type="submit" value="Ajouter" class="btn btn-primary">
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
